.WeatherCard {
    width: 400px;
    border-radius: 4px;
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.WeatherCard .WeatherCard-City {
    font-size: 20px;
    text-align: left;
    width: 60%;
}

.WeatherCard .WeatherCard-Details {
    text-align: left;
    width: 40%;
}

.WeatherCard .WeatherCard-Closer {
    cursor: pointer;
    position: absolute;
    right: 8px;
    top: 8px;
}

.WeatherCard .WeatherCard-Closer svg {
    width: 15px;
    height: auto;
}
